@import '../../../../styles/variables';

.landingDatabase {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
  
    @media (max-width: 1023px) {
      background: rgba(255, 246, 198, 0.6);
      padding-bottom: 12px;
    }
  
    &__title {
      padding-bottom: 32px;
      margin: 0 auto;
      position: relative;
  
      &::before, &::after {
        position: absolute;
        content: '';
        border-radius: 50%;
        z-index: 2;
      }
  
      &::before {
        top: 142px;
        left: -180px;
        background: linear-gradient(270deg, rgba(0, 151, 167, 0.72) 0%, rgba(21, 190, 160, 0.72) 100%), #15BEA0;
        width: 32px;
        height: 32px;
      }
  
      &::after {
        top: 162px;
        right: -161px;
        background: linear-gradient(90deg, rgba(242, 201, 76, 0.72) 0%, rgba(242, 153, 74, 0.72) 100%), #F2C94C;
        width: 31px;
        height: 31px;
      }
    }
  
    &__features {
      flex-grow: 1;
      background: #EDF7F3;
      padding-top: 24px;
      padding-bottom: 16px;
  
      @media (max-width: 1023px) {
        background: transparent;
      }
  
      @media (min-width: 768px) {
        margin-top: -40px;
        padding-left: 40px;
        padding-right: 40px;
  
        .row {
          justify-content: space-around;
        }
      }
  
      .row__col {
        padding-right: 20px;
      }
    }
  
    &__feature {
      margin-top: 32px;
  
      &Wrapper {
        @media (min-width: 768px) {
          width: 25%;
          margin-left: 0 !important;
        }
      }
  
      &_first {
        margin-top: 0;
      }
  
      @media (min-width: #{$breakpoints_md}) {
        margin-top: 0;
      }
    }
  
    &__preview {
      position: relative;
      min-height: 72px;
  
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 72px;
        background-color: #EDF7F3;
  
        @media (max-width: 1023px) {
          background: transparent;
        }
      }
  
      &Image {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        z-index: 2;
        max-width: 100%;
        border-radius: 4px;
  
        @media (min-width: 1024px) {
          width: 663px;
          margin-top: -40px;
        }
  
        @media (min-width: 1280px) {
          width: 713px;
        }
  
        @media (min-width: 1440px) {
          width: 910px;
          margin-top: -45px;
        }
  
        &Wrapper {
          position: relative;
  
          &::after, &::before {
            position: absolute;
            content: '';
            border-radius: 50%;
            z-index: 1;
          }
  
          &::after {
            bottom: 70px;
            right: 310px;
            background: linear-gradient(270deg, rgba(0, 151, 167, 0.72) 0%, rgba(21, 190, 160, 0.72) 100%), #15BEA0;
            width: 126px;
            height: 126px;
          }
  
          &::before {
            background: linear-gradient(90deg, rgba(242, 201, 76, 0.72) 0%, rgba(242, 153, 74, 0.72) 100%), #F2C94C;
            width: 51px;
            height: 51px;
            left: 198px;
            bottom: 70px;
          }
  
          @media (max-width: 1023px) {
            &::before {
              width: 32px;
              height: 32px;
              left: 25px;
              bottom: 450px;
            }
  
            &::after {
              bottom: 250px;
              right: -24px;
              width: 74px;
              height: 74px;
            }
          }
        }
      }
    }
  }