// table {
// 	td {
// 		max-width: 100%;
// 		white-space: normal;
// 	}
// }

// .table {
// 	&__cell {
// 		text-align: center;
// 		box-sizing: border-box;

// 		strong {
// 			&.yellow {
// 				color: #b26928;
// 			}
// 		}

// 		.datebaseCell__center {
// 			text-align: center;
// 		}

// 		&:first-child {
// 			width: 90px;
// 			padding-right: 30px;
// 		}

// 		.address {
// 			font-style: normal;
// 			font-weight: normal;
// 			line-height: normal;
// 			font-size: 12px;
// 			color: #000000;

// 			&__district {
// 				&_transparent {
// 					opacity: 0.48;
// 				}
// 			}
// 		}
// 	}
// }
