// .validate {

//   &__change {
//     font-size: 18px;
//     color: #15BEA0;
//     position: absolute;
//     margin-left: 24px;
//     cursor: pointer;
//     line-height: 94px;
//   }

//   .authInput {
//     display: inline-block;
//   }

//   &__phoneWrapper {
//     width: max-content;
//     position: relative;
//   }

//   &__fieldsWrapper {
//     width: max-content;
//     margin: 0 auto;
//     flex-direction: column;
//     display: flex;
//   }
// }

// .smsToken {
//   position: relative;
//   display: inline-block;

//   &__sendAgainClick {
//     color: #15bea0;
//     font-size: 14px;
//   }

//   &__sendAgainTimer {
//     color: #121212;
//     opacity: 0.48;
//     font-size: 14px;
//   }

//   &__icon {
//     position: absolute;
//     top: 20px;
//     margin-left: 14px;
//     background: red;

//     &_good {
//       width: 7px;
//       height: 18px;
//       transform: rotate(45deg);
//       top: 12px;
//       border-bottom: 2px solid green;
//       border-right: 2px solid green;
//       background: transparent;
//     }

//     &_bad {
//       width: 2px;
//       height: 14px;
//       background: #000000;
//       opacity: 0.54;
//       transform: rotate(-45deg);

//       &::before {
//         width: 2px;
//         height: 14px;
//         background: #000000;
//         content: '';
//         position: absolute;
//         left: 0;
//         transform: rotate(90deg);
//       }
//     }
//   }

//   &__wrapper {
//     text-align: center;
//   }

//   &::before, &::after {
//     width: 12px;
//     z-index: 4;
//     content: '';
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     background: #ffffff;
//   }

//   &::before {
//     left: 21px;
//   }

//   &::after {
//     right: 21px;
//   }

//   &__item {
//     width: 130px;
//     display: inline-block;

//     &::before {
//       left: 55px;
//       width: 20px;
//       top: 0;
//       bottom: 0;
//       content: '';
//       position: absolute;
//       background: #ffffff;
//       z-index: 4;
//     }

//     input {
//       font-size: 32px;

//       &::placeholder {
//         position: relative;
//         z-index: 5;
//         font-size: 16px;
//       }
//     }

//     &_second {
//       margin-right: 28px;
//     }
//   }
// }