.chatActive {
    border-left: 1px solid rgba(208, 216, 220, 0.72);
    border-right: 1px solid rgba(208, 216, 220, 0.72);
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
    width: 500px;

    &__messagesHolder {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__messages {
        padding: 21px 21px 0 21px;
        margin: 0;
        list-style-type: none;
    }

    &__controlPanel {
        padding: 10px 21px 0 21px;
    }
}