// .calendarWeekTask
// 	display flex
// 	border-left 4px solid #50C2E6
// 	padding-top 8px
// 	height 35px
// 	cursor pointer
// 	box-sizing border-box
	
// 	&__time
// 		font-size 8px
// 		font-weight 500
// 		margin 0 8px 0 4px
// 		display inline-block
// 		line-height 13px
// 		vertical-align top
		
// 	&__name
// 		font-size 10px
// 		font-weight 600
// 		overflow hidden
// 		text-overflow ellipsis
// 		white-space nowrap
		
// 	&__content
// 		max-width 87px
		
// 	&__desc
// 		font-size 10px
// 		overflow: hidden;
// 		text-overflow ellipsis
// 		white-space nowrap