.paymentModal {
    width: 300px;
    box-sizing: border-box;
    padding: 24px 32px 32px 32px;

    &__content {
        margin-top: 28px;
    }

    .primaryButton {
        margin-top: 32px;
    }

    .disabledButton {
        background: #999999;
        box-shadow: none;
        color: #ffffff;
        cursor: auto;
    }

    .tabs__container {
        margin-left: -32px;
        margin-right: -32px;
        padding-left: 32px;
        padding-right: 32px;
    }

    &__sendField {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pureTextField {
            max-width: 112px;

            label {
                font-size: 12px;
            }
        }
    }

    &__moneyAvailable {
        color: (0, 0, 0, .48);
        font-size: 14px;

        &_money {
            font-size: 16px;
            color: #27AE60;
            margin-left: 8px;
        }
    }
}

.paymentBank {
    padding: 9px;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #FFF;
    transition: all .15s;
    cursor: pointer;
    margin-bottom: 16px;

    &__description {
        margin-left: 8px;

        &_flex {
            display: flex;
            align-items: center;
        }
    }

    &__photo {
        margin-right: 4px;
    }

    &__name {
        font-size: 14px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 2px;
        color: #000000;
    }

    &__description {
        font-size: 12px;
        margin: 0;
        color: (0, 0, 0, .48);
    }

    &_active,
    &:hover {
        background: #EFF3F7;
        border-color: #0097A7;
    }
}