// .searchBar
//   height 36px
//   background #EFF3F7
//   border-radius 4px
//   position relative
//   &_white
//     background #fff
//     border-radius 2px

//   &__input
//     width 100%
//     height 100%
//     background transparent
//     border none
//     padding 7px 10px
//     box-sizing border-box
    
//     &:focus
//       outline none
    
//   &__icon
//     display none
//     position absolute
//     top 7px
//     right 7px