// .coownershipModal
//   display flex
//   flex-wrap wrap
//   max-width 280px
//   .select
//     margin-right 24px
//     flex-grow 1
//   .textField
//     width 82px
//   &__text
//     font-size 12px