.cityAutocomplete {
    background: #FFF;
    cursor: pointer;
    min-width: 250px;
    border: 1px solid rgba(33, 64, 95, 0.24);
    border-radius: 2px 2px 0px 0px;
    max-width: unset !important;
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
    position: relative;

    &__citySuggest {
        position: absolute;
        left: 0;
        z-index: 3;
        right: 0;
        border: 1px solid rgba(33, 64, 95, 0.24);
        box-sizing: border-box;
        box-shadow: 0px 5px 16px rgba(40, 56, 49, 0.16);
        border-radius: 0px 0px 2px 2px;
        padding: 18px 0;
        box-sizing: border-box;
        background: #FFF;
    }

    &__content {
        padding-left: 12px;
        box-sizing: border-box;
        padding-right: 8px;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: #000000;
        font-weight: bold;
        display: none;
        height: 36px;

        @media (max-width: 1023px) {
            font-size: 13px;
        }
    }

    &__textfield {
        display: block;
        padding: 0px 8px 1px 14px;
    }

    &__input {
        font-size: 16px;
        color: #121212;
        margin-bottom: -1px;
        display: inline-block;
        height: 28px;
        line-height: 28px;
        width: max-content;
        font-weight: 500;

        @media (max-width: 1023px) {
            font-size: 12px;
        }

        .pureTextField__input {
            border: none;
        }

        .MuiInput-underline-36::before {
            border: none !important;
        }

        input {
            font-size: 16px;
        }

        &_area {
            margin-right: 12px;
        }
    }

    &_preshow {
        border-radius: 2px;
        border: 0px;

        & .cityAutocomplete__content {
            display: flex;
        }

        & .cityAutocomplete__textfield {
            display: none;
        }
    }

    &__filtersArrow {
        padding-left: 8px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        border-left: 1px solid rgba(208, 216, 220, 0.48);
        height: 40px;
        display: flex;
        align-items: center;
        transition: all 0.15s;

        svg {
            fill: #0097A7;
            opacity: 0.54;
        }
    }
}

.citySuggest {
    cursor: auto;
    outline: none;
    border: 1px solid rgba(33, 64, 95, 0.24);
    box-sizing: border-box;
    box-shadow: 0px 5px 16px rgba(40, 56, 49, 0.16);
    border-radius: 0px 0px 2px 2px;
    margin-top: 4px;

    &__header {
        padding: 6px 22px;
        display: flex;
        justify-content: space-between;
    }

    &__suggest {
        cursor: pointer;
        padding: 6px 22px;
        font-size: 14px;
        transition: all 0.15s;

        &:hover,
        &_highlight {
            background: #EFF3F7;
        }
    }

    &__name {
        font-size: 12px;
        color: #787878;
    }

    &__showAll {
        font-size: 12px;
        color: #0097A7;
        cursor: pointer;
    }
}

.cityAutocomplete {
    &__name {
        padding-right: 8px;

        * {
            vertical-align: middle;
        }
    }

    #react-autowhatever-1 {
        width: max-content;
        z-index: 3;
    }
}

.resizeInputHolder {
    position: relative;

    input {
        font-size: 16px;
        color: #000;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid transparent;
        padding-bottom: 3px;
        position: relative;
        transition: border-color 0.2s;
        min-width: 50px;

        @media (max-width: 1023px) {
            min-width: 0;
            font-size: 12px;
        }


        &:focus,
        &:hover {
            z-index: 2;
            outline: none;
            border-color: #0097A7;
        }
    }
}