.clientCardsList {
    &__item {
        padding: 12px;
        background: #fff;
        cursor: pointer;
        position: relative;
        margin-bottom: 8px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    }

    .autosearch {
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: block;
        margin-top: auto !important;

        &__item {
            &_community {
                position: relative;
            }

            &_group {
                margin-left: -4px;
            }
        }
    }

    .houseFigure {
        margin: 0;
        display: flex;

        &__photoHolder {
            width: 88px;
            flex-shrink: 0;

            .autosearch {
                position: relative;
                left: 0;
                bottom: 0;
                margin-top: 8px;
            }
        }

        &__photo {
            flex-grow: 0;
            width: 88px;
            display: block;
            height: 88px;
            object-fit: cover;

            &Footer {
                display: flex;
                margin-top: auto;
                padding-top: 8px;
                height: 24px;
                align-items: center;
                justify-content: space-between;
            }
        }

        &__description {
            display: inline-block;
            flex-grow: 1;
        }
    }

    .description {
        padding-left: 8px;
        padding-right: 8px;
        display: flex !important;
        flex-direction: column;

        &__item {
            margin-top: 0;
            font-size: 12px;

            &:last-child {
                margin-top: auto;
                height: 24px;
                align-items: center;
            }

            &_flex,
            &_topLine {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &_consec {
                justify-content: flex-start;
                align-items: start;
            }

            &_topLine {
                margin-bottom: 4px;

                .description__gray {
                    &:last-child {
                        margin-left: auto;
                    }
                }
            }

            p {
                margin: 0;
            }
        }

        &__gray {
            font-size: 11px;
            color: #999;
        }

        &__place {
            margin-left: 8px;
            color: #787878;
        }

        &__placeWrapper {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        &__objectType {
            width: 80px;
            height: 16px;
            line-height: 16px;
            color: #fff;
            background: #6FCF97;
            border-radius: 11px;
            text-align: center;
            margin-right: 8px;
            text-transform: uppercase;
            font-size: 8px;
            font-weight: bold;
        }

        &__comments {
            display: flex;
            align-items: center;
            color: #999;

            svg {
                margin-left: 4px;
            }
        }
    }
}