// .map-holder
//   &__buttonsWrapper
//     position absolute
//     top 32px
//     left 16px
//     display flex
//     flex-direction column
//   &__button
//     font-weight 500
//     font-size 14px
//     font-family 'Play', sans-serif
//     color #FFF
//     background #0097a7
//     box-shadow 0 2px 4px rgba(0, 0, 0, .16)
//     border-radius 2px
//     border none
//     border 1px solid #0097A7
//     width 157px
//     height 32px
//     box-sizing border-box
//     padding 6px 10px
//     outline none
//     text-align left
//     display flex
//     align-items center
//     &_active
//       background #FFF
//       color #0097a7
//       svg path
//         fill #0097A7
//     svg
//       width 16px
//       margin-right 10px
//     &:first-child
//       margin-bottom 8px
//     @media (max-width 1023px)
//       width unset
//       svg
//         margin-right 0
//   &__edit
//     display flex
//     align-items baseline
//     .addButton
//       margin-left 24px
//     .resizeInputHolder input
//       border-bottom 1px solid #d0d8dc
//       &:focus
//         border-bottom auto