// .profileTariffs
//     border: 5px solid red;
//   &__title
//       border: 5px solid black;
//     font-size 18px
//     font-weight 500
//     color #000000
//     margin-bottom 16px
//   &__cards
//       border: 5px solid blue;
//     display flex
//     flex-wrap wrap
//     background #FFF
//     justify-content space-around
//     padding 22px
    