.exclusiveCard {
    background: #fff;
    box-shadow: 0px 4px 24px rgba(40, 56, 49, 0.16);
    border-top: 1px solid #e9ecee;
  
    &__header {
      display: flex;
      justify-content: space-between;
      padding: 13px 18px;
      background: rgba(208, 216, 220, 0.48);
      height: 40px;
      box-sizing: border-box;
      margin-bottom: 24px;
  
      &Item {
        font-size: 12px;
      }
  
      &Close {
        display: flex;
        align-items: center;
        cursor: pointer;
  
        svg {
          transform: rotate(180deg);
        }
      }
    }
  
    &__line {
      display: flex;
    }
  
    &__body {
      padding: 0 20px;
  
      &_centered {
        padding: 0 8%;
      }
    }
  
    &__title {
      font-size: 24px;
      font-weight: normal;
      margin-top: 0;
  
      &_error {
        color: #EB5757;
      }
    }
  
    &__paragraph {
      font-size: 16px;
      color: #121212;
  
      &_withBack {
        background-color: #EFF3F7;
        border-radius: 2px;
        padding: 16px;
      }
  
      &_withQuotes {
        position: relative;
        text-align: center;
  
        &:before, &:after {
          content: '';
          display: inline-block;
          width: 22px;
          height: 19px;
        }
      }
    }
  
    &__characteristics {
      margin-bottom: 32px;
  
      &> div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
  
        p {
          margin: 0;
        }
      }
    }
  
    &__photos {
      display: flex;
      flex-wrap: wrap;
  
      .customDropzone {
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
  
    &__owners {
      display: flex;
  
      .smallPersonBlock {
        border: none;
  
        &__name {
          font-size: 12px;
        }
  
        &__phone {
          color: #999;
        }
      }
    }
  
    &__tooltipBlock {
      display: flex;
      align-self: center;
  
      p {
        color: rgba(0, 0, 0, 0.48);
        font-size: 12px;
        margin-top: 2px;
        margin-left: 8px;
        margin-bottom: 4px;
      }
    }
  
    &__label {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.48);
      margin-bottom: 8px;
    }
  
    &__buttons {
      padding: 20px 0;
  
      button {
        width: 100%;
  
        &.primary.addButton {
          border-color: transparent;
        }
      }
    }
  
    &__quote {
      font-size: 56px;
      color: #98A6B4;
      opacity: 0.32;
      font-weight: bold;
      height: 40px;
      line-height: 33px;
      position: absolute;
      top: 0;
      left: 7px;
  
      &_right {
        top: unset;
        left: unset;
        right: 7px;
        bottom: 0;
      }
    }
  
    .calendar-picker {
      width: 100%;
    }
  
    .react-datepicker {
      &-wrapper {
        width: 100%;
      }
  
      &__input-container {
        width: 100%;
  
        .pureTextField {
          label {
            width: max-content;
          }
        }
      }
    }
  }