.officeInfo {
    padding: 24px 0 16px 0;
  
    &__title {
      margin: 0 0 8px 0;
      font-size: 18px;
      font-weight: 500;
    }
  
    &__text {
      font-size: 14px;
      margin-bottom: 11px;
      display: flex;
      align-items: center;
  
      &_gray {
        color: #999;
      }
  
      svg {
        margin-right: 6px;
      }
    }
  }