.agentInfo {
    &__mainInfo {
      margin-top: 16px;
      display: flex;
      flex-wrap: wrap;
    }
  
    &__nameWithCity {
      flex-grow: 1;
    }
  
    .areaSegments {
      margin-left: -22px;
      margin-right: -22px;
      margin-bottom: 20px;
  
      @media (max-width: 767px) {
        margin-left: -11px;
        margin-right: -11px;
      }
  
      .table {
        box-shadow: none;
      }
    }
  }