.objectInfoImages {
    display: flex;
  
    @media (min-width: 768px) {
      // margin-bottom 16px
    }
  
    &__itemGroupHolder {
      flex: 1 30px;
    }
  
    &__itemHolder {
      width: 100%;
      margin: 8px 8px 8px 0;
      position: relative;
  
      &_main {
        flex: 4 4 144px;
      }
    }
  
    &__slider {
      max-width: 298px;
  
      @media (max-width: 767px) {
        max-width: 721px;
      }
  
      height: 100%;
    }
  
    &__item {
      padding-top: 100%;
      background-size: cover;
    }
  
    &__sliderImage {
      height: 280px;
      background-size: cover;
      background-position: center;
    }
  
    &__sliderDots {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
    }
  
    &__sliderDot {
      list-style-type: none;
      background-color: #D0D8DC;
      outline: none;
      width: 6px !important;
      height: 6px !important;
      border-radius: 50%;
      border: none;
      margin-right: 8px !important;
      transition: background 0.15s;
  
      &_active {
        background: #0097A7;
      }
    }
  
    &__sliderContainer {
      width: 100%;
    }
  
    &__imagesLeftText {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.42);
    }
  }