// .objectAdditional
//   border:5px solid yellow;
//   display flex
//   flex-wrap nowrap
  
// .objectInfoTable
//   border:5px solid blue;
//   display flex
//   &__headers
//     border:5px solid right;
//     text-align right
//     width 60px
//     color #999999
//     margin-right 16px
//     align-items space-between
//   &__content
//     font-weight 500
//   &__item
//     margin-bottom 20px
//   &__firstHeader
//     display flex
//     justify-content space-between