// .openedTask
// 	cursor pointer
// 	box-shadow: 0px 5px 16px rgba(40, 56, 49, 0.16)

// 	&-absolute
// 		position absolute
// 		background #fff
// 		top 0
// 		left -1px
// 		width 200px
// 		height max-content
// 		min-height 100%
// 		border-left 4px solid #50C2E6
// 		box-shadow 0px 5px 16px rgba(40, 56, 49, 0.16)
// 		border-radius 2px
// 		z-index 1
// 	&-bottom
// 		top unset
// 		bottom 0
// 	&-right
// 		left unset 
// 		right 0

	
// 	&__inner
// 		display flex
// 		padding 8px 8px 12px 9px
			
// 	&__time
// 		font-size 10px
// 		margin 0 8px 0 4px
// 		display inline-block
// 		line-height 17px
// 		vertical-align top
		
// 	&__name
// 		font-size 12px
// 		font-weight 500
		
// 	&__content
// 		max-width 150px
// 		margin-right 5px
		
// 	&__desc
// 		font-size 10px
// 		color #9A9A9A
// 		word-wrap break-word

// 	&__close
// 		margin-left auto
// 		margin-right 5px
// 		cursor pointer
			
// 	.openedTaskPeople
// 		display flex
// 		padding 0 12px 12px
		
// 		&__nameAndPhoneHolder
// 			height 13px
// 			margin 4px 0
// 			display flex
		
// 		&__photo
// 			width 24px
// 			height 24px
// 			border-radius 50%
// 			flex-shrink 0
// 			margin-right 8px
		
// 		&__label
// 			text-transform uppercase
// 			font-weight 500
// 			color #9A9A9A
// 			font-size 8px
			
// 		&__name, &__phone, &__address
// 			font-size 10px
		
// 		&__name
// 			margin-right 8px
			
// 		&__address
// 			color #0097A7
// 			margin 0