// .title
//   border:5px solid red
//   text-align center
//   &_left
//     border:5px solid blue
//     text-align left
//   &__tag
//     border:5px solid blue
//     font-size 14px
//     font-weight bold
//     text-transform uppercase
//     letter-spacing 0.05em
//     color #F2994A
//     margin-bottom 8px
//   &__title
//     border:5px solid blue
//     font-weight 700
//     font-size 24px
//     color #333
//     @media (min-width breakpoints.sm)
//       font-size 28px
//     @media (min-width breakpoints.md)
//       font-size 32px
//   &__description
//     border:5px solid blue
//     margin-top 12px
//     font-size 18px
//     font-weight 300
//     color #8C8883
//     @media (min-width breakpoints.sm)
//       font-size 22px
//     @media (min-width breakpoints.md)
//       font-size 24px