// .calendar-picker
// 	.react-datepicker
// 		width 100%
// 		font-family 'Play', sans-serif
// 		background #fff
// 		border none
		
// 		&-popper
// 			left -24px !important
// 			width 200px
// 			z-index 3
// 			margin-top 0
		
// 		&__triangle
// 			display none
		
// 		&__header
// 			background-color transparent
// 			border none
// 			padding-top 0
		
// 		&__current-month
// 			text-align left
// 			padding-left 16px
// 			text-transform capitalize
// 			font-size 12px
// 			color #0097A7
// 			margin-top 13px
// 			margin-bottom 10px
// 			font-weight 500
			
// 		&__navigation
// 			border none
// 			margin-top 7px
// 			margin-bottom 10px
// 			width 7px
// 			height 7px
// 			outline none
// 			border-radius 2px
// 			border-left: 2px solid rgba(0, 0, 0, .34)
// 			border-bottom: 2px solid rgba(0, 0, 0, .34)

// 			&--next
// 				right 15px
// 				transform rotate(-135deg)
				
// 			&--previous
// 				left unset
// 				right 34px
// 				transform rotate(45deg)

// 		&__day
// 			border-radius 50%
// 			transition background, color .15s
// 			&-name
// 				color #9A9A9A
// 				text-transform capitalize
// 			&--today, &:hover
// 				background #E8ECEE
// 				color #000
// 			&--selected
// 				background #0097A7
// 				color #FFF
			
// 		&__day,
// 		&__day-name
// 			width 24px
// 			height 24px
// 			line-height 24px
// 			font-size 10px
// 			text-align center
// 			margin 1px !important
			
// 		&__day--outside-month
// 			opacity 0
// 			max-height 0
// 			margin 0
// 			cursor context-menu