// .calendarModal
// 	width 70vw
// 	min-width 870px

// 	.calendarNav
// 		display flex
// 		align-items center
// 		justify-content space-between
// 		padding 19px 16px 15px 44px
// 		border-bottom 1px solid rgba(232,236,238,0.5)
		
// 		button
// 			width 130px
// 			background-color transparent
// 			color #0097a7
// 			border 1px solid rgba(0, 151, 167, 0.48)
// 			box-shadow none
		
// 		&__title
// 			margin 0 33px 0 0
// 			font-size 18px
// 			font-weight 500

// 		&__previous, &__next
// 			cursor pointer
// 			svg
// 				path 
// 					fill #aaa
// 		&__previous
// 			margin 0 24px
// 			svg 
// 				transform rotate(90deg)
// 		&__next
// 			margin-right 24px
// 			svg 
// 				transform rotate(-90deg)
			
// 		&__selectedMonth
// 			text-transform capitalize
// 			font-size 16px
// 			margin-right auto
// 			color #0097a7
			
// 		&__periodSwitch
// 			margin 0 32px
			
// 		&__close
// 			margin-left 16px
// 			cursor pointer