// .agentsPlansTable
//   &__action
//     font-size 10px
//     font-weight 700
//     text-transform uppercase
//     color #0097A7
//   .table__cell
//     padding-top 13px
//     padding-bottom 13px
//     cursor auto