.chatModal {

    &__body {
        display: flex;
        height: 500px;
    }

    &__sidebarInfo {
        width: 200px;
    }

    &__activePlaceholder {
        width: 500px;
        border-left: 1px solid rgba(208, 216, 220, 0.72);
        border-right: 1px solid rgba(208, 216, 220, 0.72);
    }
}