// .clientEdit
//   background-color #fff
//   box-shadow 0px 4px 24px rgba(40, 56, 49, 0.16)
//   padding 26px 22px 22px 22px
//   max-width: 934px
//   margin 20px auto 0
//   &__mainTitle
//     font-size 22px
//     margin 0
//     font-weight 500
//   &__secondaryTitle
//     font-size 18px
//     margin 24px 0
//     font-weight 500
//   &__line
//     display flex
//   &__buttons
//     display flex
//     justify-content flex-end
//     button
//       &:first-child
//         background transparent
//         color #0097a7
//         margin-right 5px
//         box-shadow none
//   hr
//     border none
//     border-bottom 1px solid rgba(208, 216, 220, 0.48)
//     margin 24px 0
