// .addressAutocomplete
//   border:5px solid yellow;
//   position relative
//   margin-top 4px
//   margin-left -16px
//   margin-right -16px
//   &__pseudoSuggest
//     border:5px solid red;

//     position absolute
//     top 32px
//     padding 8px 12px
//     outline none
//     left 0
//     background #EFF3F7
//     width 100%
//     box-sizing border-box
//   .autoComplete__suggestionsContainerOpen
//     border:5px solid blue;
    
//     font-size 14px
//     white-space word-wrap
//     & ^[0]__area
//       border:5px solid green;

//       font-size 10px
//       color #999999
//       margin-left 10px
//   &__add
//     transition all .1s
//     &_active
//       transform rotate(45deg)