// .profilePaymentButton
//   button
//     height 72px
//     display flex
//     padding 16px 34px
//     align-items center
//     box-sizing border-box
//     box-shadow 0 1px 1px rgba(12, 77, 87, .06)
//     span 
//       margin-left 36px
//   .addButton
//     background #ffffff
//     border 1px solid #0097a7
//     color #000000
//   .primaryButton
//     color #ffffff