.radioFilters {
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 1px rgba(12, 77, 84, 0.06);
    border-radius: 2px;
    margin: 20px 0;
    width: max-content;
    max-width: 100%;

    &__item {
        color: #999;
        font-weight: bold;
        font-size: 14px;
        border-right: 1px solid rgba(208, 216, 220, 0.48);
        padding: 9px 12px;
        cursor: pointer;

        &:last-child {
            border: none;
        }

        &_active {
            background: #fff;
            color: #121212;
        }
    }
}