// .landingNotification
//   display flex
//   flex-direction column
//   @media (max-width 1023px)
//     background #ffffff
//   .container
//     padding-bottom 0
//     display flex
//     flex-direction column
//     flex-grow 1
//   &__title
//     padding 28px 40px 36px 40px
//     border 2px solid #15bea0
//     margin-left 32px
//     margin-right 32px
//     box-sizing border-box
//     border-radius 2px
//     color #333333
//     letter-spacing .03em
//     font-size 32px
//     text-align center
//     @media (max-width 1023px)
//       padding 40px 23px
//       margin-top 0
//       margin-left 12px
//       margin-right 12px
//   .authInput, .primaryButton
//     margin-left auto
//     margin-right auto
//     height 64px
//     width 327px
//     @media (max-width 1023px)
//       width 280px
//   .disabledButton
//     background grey 
//     box-shadow none
//   .primaryButton
//     background linear-gradient(270deg, rgba(0, 151, 167, 0.72) 0%, rgba(21, 190, 160, 0.72) 100%), #15BEA0
//   .disabledButton
//     background #D0D8DC
//   &__sendItem
//     text-align center
//     margin-bottom 64px
//     &_first
//       margin-bottom 32px
//   &__footer
//     margin-top auto
//     margin-left -12px
//     margin-right -12px
//     padding-top 36px
//     padding-bottom 36px
//     background rgba(255, 246, 198, 0.6)
//     @media (min-width 1024px)
//       padding-left 20px
//       padding-right 20px
//     @media (min-width 1280px)
//       padding-left unset
//       padding-right unset
//     .row__col
//       display flex
//       align-items center
//       padding-left 16px
//       padding-right 16px
//       > div
//         display flex
//         align-items center
//       @media (max-width 1023px)
//         margin-bottom 32px
//         &:last-child
//           margin-bottom 0
//   &__links
//     justify-content space-between
//   &__agent24
//     padding-bottom 4px
//     font-size 14px
//     color rgba(51,51,51, .72)
//     margin-left 4px
//     margin-right 4px
//     border-bottom 1px solid rgba(18, 18, 18, .24)
//     &_margin
//       margin-top 4px
//   &__rights
//     font-size 14px
//     color rgba(51,51,51, .72)
//   &__logoText
//     font-size 10px
//     letter-spacing .05em
//     font-weight bold
//     margin-left 6px
//     text-transform uppercase
//     color #7D7D7D
//   &__social
//     &_first
//       margin-right 16px