// .client-content {
//   border: 5px solid red;

//   &__topButton {
//     border: 5px solid blue;
//     background-color: #fff;
//     padding: 12px;
//     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
//     margin-bottom: 8px;

//     &_disabled {
//       border: 5px solid yellow;
//       background-color: transparent;
//       color: #aaa !important;
//       box-shadow: none;
//       border: 1px solid #e3e3e3;
//     }

//     button {
//       width: 100%;
//     }
//   }
// }