// .client-content
// 	border:5px solid red
// 	&__header
// 		display flex
// 		justify-content space-between
// 		position relative
// 		border:5px solid blue;
// 		&:after
// 				border:5px solid yellow;
// 				content ''
// 				position absolute
// 				width 100%
// 				left 0
// 				bottom 0
// 				height 1px
// 				background rgba(208, 216, 220, 0.72)