// I do not know what it is for
.descriptionSelectPerson {
    &.smallPersonBlock {
        border: none;
        margin-bottom: 0;
        padding: 0 8px;
        height: 33px;
        width: 100%;

        .smallPersonBlock__content {
            width: 100%;
            // background: #fff;
            // z-index: 1;
        }

        .smallPersonBlock__photo {
            flex-shrink: 0;
        }

        .smallPersonBlock__firstline {
            line-height: 16px;
        }

        .smallPersonBlock__phone {
            line-height: 14px;
        }

        .smallPersonBlock__name,
        .smallPersonBlock__phone {
            width: calc(100% - 32px);
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .smallPersonBlock__phone {
            width: 100%;
        }
    }
}

// I do not know what it is for END


.newRequestDesc__field-map {
    height: 356px;
}