@import url('https://fonts.googleapis.com/css?family=Play:400,400i,500,500i,700');

// @import "./styles/~";
// @import './components/*/*';
// @import './components/*/*/*';
// @import './components/*/*/*/*';
// @import './components/*/*/*/*/*';
// @import './layouts/*/*';
// @import './pages/*/*';
// @import './pages/*/*/*';
// @import './pages/*/*/*/*';
// @import './pages/*/*/*/*/*';
// @import './pages/*/*/*/*/*/*';
@import '../node_modules/react-datepicker/dist/react-datepicker.min.css';
@import '../node_modules/slick-carousel/slick/slick.css';
@import '../node_modules/slick-carousel/slick/slick-theme.css';

html, body {
  margin: 0;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  min-width: 320px;
  background-color: #EFF3F7;
  font-family: 'Play', sans-serif;
}
#root {
  height: 100%;
}
a {
  text-decoration: none;
}
.autosearch {
  position: relative;

  &__item {
    display: inline-block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 23px;
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 50%;
    background-color: #FFA000;
    font-size: 11px;

    &_community {
      position: relative;
      margin-right: -3px;
    }

    &_group {
      background-color: #0097A7;
      margin-right: 6px;
    }
  }
}

// @import './styles/*';
// @import './!(styles)/**/*';

.testClassname {
  background: grey;
}

.d-flex {
  display: flex;
}

.flex-grow {
  flex: 1 0 auto;
}

.mb-20 {
  margin-bottom: 20px;
}

.ai-c {
  display: flex;
  align-items: center;
}

.roundedOperation {
  padding: 3px 5px;
  font-size: 8px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid #999999;
  border-radius: 10px;
  color: #999999;
  font-weight: 700;

  &__paid {
    color: #27ae60;
    border-color: #6FCF97;
  }

  &__processed {
    color: #F2994A;
    border-color: rgba(242, 153, 74, 0.48);
  }

  &__denied {
    color: #EB5757;
    border-color: rgba(235, 87, 87, 0.48);
  }
}
.noBorder {
  border: none !important;
}
