// .authInput
  // border 2px solid red
  // position relative
  // width 280px
  // &__adornment
  //   border 2px solid blue
  //   position absolute
  //   left 23px
  //   top 18px
  //   line-height 64px
  //   display flex
  //   font-size 24px
  //   align-items center
  //   color rgba(#121212, .48)
  //   z-index 4
  // .input_pristine.input_labelAnimated:not(.input_active) .input__label
  //   top 36px
  //   font-size 5px
  //   left 32px
  // .input
  //   input   
  //     height 64px
  //     font-size 24px
  //     &:disabled
  //       background unset 
  //       color #d0d8dc
  //   &__control
  //     padding 20px 32px 20px 32px
  //     font-size 24px
  //     padding-bottom 20px !important
  //     border 1px solid #999
  //     &:hover
  //       border 1px solid #15BEA0
  //   &_active
  //     & .input__control
  //       border 2px solid #15BEA0
  //   &__label
  //     top -6px
  //     left 0
  // &_number
    // .input_pristine.input_labelAnimated:not(.input_active) .input__label
    //   border: 2px solid green
    //   left 86px
  //   .input__control
     
  //     padding-left 86px
//   &_noPrefix
//     border: 2px solid yellow
//     .input__control
//       padding-left 32px
//     .input_pristine.input_labelAnimated:not(.input_active) .input__label
      
//       left 32px
// .authInputAdornment
//   &__number
//     border: 2px solid purple
//     font-size 24px