.textField {
    & &__container {
        width: 100%;

        >label {
            color: rgba(0, 0, 0, 0.48);
            font-family: 'Play', sans-serif;
        }
    }

    & &__input {
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        font-size: 16px;
        color: #121212;
        margin-bottom: 20px;

        &_error {
            margin-bottom: 0;
        }
    }

    & &__underline {
        &::before {
            border-bottom-color: transparent;
        }

        &:hover::before {
            border-bottom-color: #0097A7 !important;
        }

        &::after {
            border-bottom-color: #0097A7;
        }

        &_no {
            &::before {
                border: none !important;
            }
        }
    }
}