.filters {
    width: 100%;
    box-sizing: border-box;
  
    label {
      white-space: nowrap;
    }
  
    strong {
      font-weight: 600;
    }
  
    @media (min-width: 768px) {
      margin-top: -8px;
    }
  
    background: transparent;
  
    &__plus {
      border-radius: 50%;
      padding: 6.5px;
      transition: all 0.15s;
  
      &:hover {
        background: #EFF3F7;
      }
    }
  
    &Controls {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
    }
  
    &__controls {
      margin-bottom: 20px;
  
      @media (max-width: 767px) {
        margin-bottom: 0;
        display: flex;
        margin-top: 2px;
        font-size: 16px;
        align-items: center;
        padding-right: 12px;
  
        svg {
          margin-left: 4px;
        }
  
        .searchBar {
          flex-grow: 1;
          background: transparent;
        }
      }
  
      @media (min-width: 768px) {
        padding: 16px;
        background: #fff;
      }
    }
  
    &__clearButton {
      border-color: transparent;
      margin-left: 10px;
  
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }
  
    &__description {
      font-size: 14px;
      color: #000000;
      margin-top: 10px;
    }
  
    &__item {
      border-bottom: 1px solid rgba(208, 216, 220, 0.48);
      padding: 16px 20px;
  
      &_pointer {
        cursor: pointer;
      }
  
      &_data {
        border-bottom-color: transparent;
  
        input {
          font-size: 14px;
        }
      }
  
      &_state {
        label {
          font-size: 12px;
        }
      }
    }
  
    &__checkboxWrapper {
      display: flex;
      flex-direction: column;
    }
  
    &__blockWithSvg {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      font-size: 14px;
      cursor: pointer;
  
      &_select {
        align-items: baseline;
      }
  
      .select {
        flex-grow: 1;
        max-width: 85%;
      }
  
      &_pointer {
        cursor: pointer;
      }
  
      &_active {
        .addressAutocomplete__add {
          transform: rotate(45deg);
        }
      }
  
      &_microdistrict {
        font-size: 12px;
        margin-left: 10px;
      }
    }
  
    &__preview {
      margin-top: 16px;
    }
  
    &__textfield {
      width: 58px;
      flex-grow: 0;
    }
  
    &__addWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__previewHead {
      font-size: 14px;
      color: #999999;
      margin-bottom: 4px;
  
      &_date {
        font-size: 12px;
      }
  
      &_area {
        font-size: 10px;
      }
    }
  
    &__myFilters {
      margin-bottom: 16px;
      padding: 16px 0;
      background: #FFF;
  
      @media (max-width: 767px) {
        margin-bottom: 8px;
      }
  
      & .filters__item {
        border-bottom: none;
      }
    }
  
    &__content {
      padding: 16px 0;
      background: #FFF;
    }
  }
  
  .filterName {
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin-top: 4px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px 8px;
    transition: all 0.15s;
  
    &_name {
      flex-wrap: nowrap;
      font-size: 14px;
      cursor: pointer;
  
      &:hover {
        background: #eff3f7;
        border-color: #E8ECEE;
      }
    }
  
    &_active {
      border-color: #E8ECEE;
    }
  
    &_consec {
      justify-content: flex-start;
      display: flex;
      width: max-content;
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
    }
  
    &_preshow {
      display: block;
      border: none;
      width: auto;
      padding: 0;
    }
  
    &_area {
      color: #000000;
    }
  
    // &__name
    // white-space normal
    &__close {
      flex-grow: 0;
    }
  }